<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS Tutorial</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
  <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
  <div class="demo" :class="{red: attachRed}"></div>
  <div class="demo" :class="[color, {red: attachRed}]"></div>
  <div class="demo" :style="{backgroundColor: color}"></div>
  <div class="demo" :style="myStyle"></div>
  <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
  <hr>
  <input type="text" v-model="color">
  <input type="text" v-model="width">
</div>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" v-bind:class="effectClasses"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div v-bind:class="[float, 'blue', 'text-color']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-mode="userClass">
    <div v-bind:class="[{visible: true}, userClass]"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="userClass">
    <input type="text" v-mode="isVisible">
    <div v-bind:class="[{visible: isVisible}, userClass]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-mode="myStyle.backgroundColor">
    <div v-bind:style="myStyle"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>
  </div>
</div>

<script>
new Vue({
	el: '#app',
  data: {
  	attachRed: false,
    color: 'green',
    width: 100
  },
  computed: {
  	divClasses: function() {
    	return {
      	red: this.attachRed,
        blue: !this.attachRed
      }
    },
    myStyle: function() {
    	return {
      	backgroundColor: this.color,
        width: this.width + 'px'
      }
    }
  }
});

new Vue({
	el: '#exercise',
  data: {
  	effectClasses: {
    	hightlight: false,
      shrink: true
    },
    float: 'float',
    userClass: '',
    myStyle: {
    	width: '100px',
      height: '150px',
      backgroundColor: 'gray'
    },
    progressBar: {
    	width: '0px',
      backgroundColor: 'red'
    }
  },
  methods: {
  	startEffect: function() {
    	var vm = this;
      setInterval(function() {
      	vm.effectClasses.hightlight = !vm.effectClasses.highlight;
        vm.effectClasses.shrink = !vm.effectClasses.shrink; 
      }, 1000);
     },
     startProgress: function() {
     	var vm = this;
      var width = 0;
      setInterval(function () {
      	width = width + 10;
        vm.progressBar.width = width + 'px';
      }, 500);
     } 
   }
});
</script>

</body>
</html>